body {
    background-color: lightblue;
}

::-webkit-scrollbar {
    display: none;
}

.body{
    background-color: whitesmoke;
    margin: auto;
    width: 60%;
    margin-top: 0.5%;
    border: black;
}

@media only screen and (max-width: 900px) {
    .body{
        width: 80%;
    }
}

.top{
    float: left;
    width: 100%;
}

.myPhoto {
    float: left;
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 8px;
}

.text {
    font-size: 105%;
    font-family: 'Times New Roman', Times, serif;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
}

.contentTable {
    text-align: center;
    float: left;
    margin-top: 2%;
    margin-left: 7%;
    margin-bottom: 5%;
}

.educationTable {
    width: 94%;
    margin-left: 3%;
    text-align: center;
}

.educationTable tr:hover {
    background-color: rgb(232, 244, 255);
}

.workingExp {
    width: 94%;
    margin-left: 3%;
    text-align: center;
}

.workingExp tr:hover {
    background-color: rgb(232, 244, 255);
}

h3{
    margin-left: 6%;
    margin-top: 2%;
    color: rgb(30, 30, 30);
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin-left: 3%;
    margin-right: 4%;
    margin-bottom: 10px;
}

a {
    color: rgb(42, 53, 117);
}

hr {
    background-color: lightblue;
    height: 3px;
}